*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input{
    height: 20px;
    border: 1px solid black;
}
.botao{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px 8px;
    width: 100px;
    color: #fff;
    background-color: rgb(8, 90, 243);
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}